@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-bg {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 75% 25%, #003267 0%, #040C18 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 75% 25%, #003267 0%, #040C18 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 75% 25%, #003267 0%, #040C18 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 75% 25%, #003267 0%, #040C18 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 75% 25%, #003267 0%, #040C18 100%);

}